/*div, svg {
    border: 1px solid black;
}*/

#content {
    width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#introText {
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

#audioControl {
    width: 60%;
    height: 50px;
    margin: 0 auto;
}

.audioControlButton {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-size: 100%;
    float: left;
}

#prevTrack {
    background-image: url('media/prev-button-up.png');
}

#playPause {
    background-image: url('media/play-button-up.png');
}

#nextTrack {
    background-image: url('media/next-button-up.png');
}

#audioControlDetails {
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float: left;
}

#audioControlDetails span {
    font-weight: bold;
}

#songThumbnail {
    background-size: 100%;
}

#drawingArea {
    width: 960px;
    height: 390px;

    border-bottom: 1px solid black;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.country {
    fill: grey;
    stroke: white;
    stroke-width: 0.5px;
}

.country-selected {
    fill: blue;
}

.country:hover {
    fill: green;
}
