#drawingArea {
    border: 1px solid black;
    width: 960px;
    height: 480px;
}

.country {
    fill: grey;
    stroke: white;
    stroke-width: 0.5px;
}

.country-selected {
    fill: blue;
}

.country:hover {
    fill: green;
}
