#Countries > g {
    stroke-width: 0.2;
    stroke: black;
}

#Countries > g path,
#Countries > g > polygon {
    fill: white !important;
}

#Countries > g:hover {
    stroke-width: 0.5;
    stroke: red;
}

.country-selected {
    stroke: red;
}

#scribbles > g.scribble-selected {
    display: none;
}

#Lakes {
    display: none;
}
