#Countries > g {
    stroke-width: 0.5;
}

#Countries > g:hover {
    stroke: red;
    z-index: 1000;
}

.country-selected {
    stroke: red;
}

#scribbles > g {
    display: none;
}

#scribbles > g.scribble-selected {
    display: initial;
}

#Lakes {
    display: none;
}
